@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*:before,
*:after {
    box-sizing: border-box;
}

/***
BASE STYLES 
***/

body {
    font: normal 1rem "Lato", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #fff;
    background: #2391D3;
}

.main-wrap {
    width: 100%;
}

.video-wrap {
    width: 600px;
    height: 100%;
    background: #3224AE;
    margin: 3rem auto;
}


.main-header {
    background: #323232;
    padding: 1em;
    border-bottom: 1px solid #fff;
    flex-direction: column;
    align-items: center;
}

.player {
    width: 600px;
}

.player_button {
    width: 600px;
    height: auto;
    background: #3224AE;
}

.player_button button {
    padding-left: .7rem;
    background: #3224AE;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

.fullscreen {
    float: right;
}

.progress-container {
    width: 90%;
    margin: 0 auto;


}

.progress-bar {
    width: 100%;
    color: #ec0747 !important;
    padding: 100px !important;
}



.time-display {
    margin-left: 1rem;
    margin-top: -3rem;

}

/* media*/

@media (min-width: 320px) and (max-width: 480px) {

    body {
        background-color: crimson;
    }

    .video-wrap {
        max-width: 310px;
        height: 100%;
        background: #3224AE;
        margin: 3rem auto;
    }

    .player {
        max-width: 310px;
    }

    .player_button {
        max-width: 310px;
        height: auto;
        background: #3224AE;
    }

    .video-wrap {
        max-width: 310px;
    }



    .progress-container {
        width: 90%;
        margin: 0 auto;


    }

    .progress-bar {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    body {
        background-color: greenyellow;
    }

    .video-wrap {
        max-width: 481px;
        height: 100%;
        background: #3224AE;
        margin: 3rem auto;
    }

    .player {
        max-width: 481px;
    }

    .player_button {
        max-width: 481px;
        height: auto;
        background: #3224AE;
    }

    .video-wrap {
        max-width: 481px;
    }



    .progress-container {
        width: 90%;
        margin: 0 auto;


    }

    .progress-bar {
        width: 100%;
    }
}